Send_Email.json
[
    {
        "id": "296ddd4a04e1cfa0",
        "type": "tab",
        "label": "Send Emails",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a44d1a799013ad1",
        "type": "inject",
        "z": "296ddd4a04e1cfa0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"subject\":\"Hello from Node-Red\",\"to\":[{\"email\":\"devrel@nylas.com\",\"name\":\"Nylas DevRel\"}],\"body\":\"This email was sent using Node-Red and the Nylas APIs.\"}",
        "payloadType": "json",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "201c681e009dce95"
            ]
        ]
    },
    {
        "id": "201c681e009dce95",
        "type": "http request",
        "z": "296ddd4a04e1cfa0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.us.nylas.com/v3/grants/<GRANT_ID>/messages/send",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "credentials": {},
        "x": 470,
        "y": 200,
        "wires": [
            [
                "0d006ab4fb46de33"
            ]
        ]
    },
    {
        "id": "0d006ab4fb46de33",
        "type": "sysmessage",
        "z": "296ddd4a04e1cfa0",
        "command": "osxalert",
        "title": "Email was sent",
        "subtitle": "",
        "op1": "",
        "op1type": "pay",
        "receiver": "",
        "name": "",
        "x": 720,
        "y": 220,
        "wires": [
            []
        ]
    }
]
